<main class="container">

    <!--EAT-DA-BURGER HEADER-->
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <h1>Eat-Da-Burger!</h1>
            </div>
        </div>
    </div>
    <!--END OF EAT-DA-BURGER HEADER-->

    <!--EAT-DA-BURGER IMAGE-->
    <div class="row">
        <img class="center-block" src="/assets/img/burgers.png" alt="Burgers" style="max-width: 300px">
    </div>
    <!--END OF EAT-DA-BURGER IMAGE-->

    <!--BURGERS-->
    <div class="row" id="burgersDiv">

        <!--BURGERS TO DEVOUR-->
        <div class="col-lg-4" id="burgerList">
            <ul>
                {{#each burgers}}
                    {{#unless this.devoured}}
                        <li>
                            {{this.burger_name}}
                            <form action="burgers/update/devour/{{this.id}}?_method=PUT" method="POST">
                                <input type="text" name="customer" placeholder="Customer">
                                <br>
                                <input type="hidden" name="devoured" value="1" >
                                <button type="submit" class="btn btn-info btn-xs" id="devourBtn">Devour It! <span class="glyphicon glyphicon-cutlery"></span></button>
                            </form>
                            <form action="burgers/delete/{{this.id}}?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-danger btn-xs" id="devourBtn">Trash It! <span class="	glyphicon glyphicon-remove-circle"></span></button>
                            </form>
                        </li>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
        <!--END OF BURGERS TO DEVOUR-->

        <!--BURGER INPUT FORM-->
        <div class="col-lg-4">
            <div class="row center-block">
                <form class="form-horizontal" action="burgers/create" method="POST">
                    <fieldset>
                        <h2>Order Up!</h2>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <input name="burgerName" type="text" placeholder="Burger Name" class="form-control">
                                <span class="help-block">Enter your name and the burger you want to eat and click the "Submit" button.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-primary btn-sm" id="submitBtn">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <!--END OF BURGER INPUT FORM-->


        <!--DEVOURED BURGERS-->
        <div class="col-lg-4" id="devouredBurgers">
            <ul>
                {{#each burgers}}
                    {{#if this.devoured}}
                        <li>
                            {{this.burger_name}} (devoured by {{this.Customer.customer_name}})
                            <form action="burgers/update/return/{{this.id}}?_method=PUT" method="POST">
                                <input type="hidden" name="devoured" value="0">
                                <button type="submit" class="btn btn-warning btn-xs" id="devourBtn"><span class="glyphicon glyphicon-backward"></span> Send It Back!</button>
                            </form>
                            <form action="burgers/delete/{{this.id}}?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-danger btn-xs" id="devourBtn"><span class="	glyphicon glyphicon-remove-circle"></span> Trash It!</button>
                            </form>
                        </li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
        <!--END OF DEVOURED BURGERS-->
    </div>
    <!--END OF BURGERS-->
</main>